<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>ABONDANO MARTINEZ JULIAN <BR></ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>ALVAREZ GARCIA MARIANA <br></ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>ARTEAGA SANCHEZ MANUEL <BR></ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>BERNAL PEREZ CATALINA <BR></ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>BOTERO MUÑOZ ANDREA <BR></ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>PUIN MELO EDMA <BR></ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>

  
</ion-content>
