<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>

      <img src="assets/santa.jpg" >
    </ion-slide>
    <ion-slide>

      
      <img src="assets/milos.jpg">
    </ion-slide>
    <ion-slide>
    
      <img src="assets/barcelona.jpg">
    </ion-slide>
  </ion-slides>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ciencias Sociales</ion-card-subtitle>
      <ion-card-title>Manejo de Evaluaciones</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Revise las calificaciones del Logro mostrado. Corrija aquellas que sean necesarias. 
      Recuerde que al grabar se actualizará el promedio final del alumno.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item href="#" class="activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Consulta Evaluaciones</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Observaciones a alumnos</ion-label>
    </ion-item>

    <ion-item href="#" class="activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Faltas de Asistencia</ion-label>
    </ion-item>

  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="2" size-sm>
        <ion-item href="#">
          <ion-icon name="book"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="9" size-sm>
        ABONDANO MARTINEZ JULIAN
      </ion-col>
      <ion-col>
        4.6
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="2" size-sm>
        <ion-item href="#">
          <ion-icon name="book"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="9" size-sm>
        ALVAREZ GARCIA MARIANA
      </ion-col>
      <ion-col>
        3.6
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="2" size-sm>
        <ion-item href="#">
          <ion-icon name="book"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="9" size-sm>
       ARTEAGA SANCHEZ MANUEL
      </ion-col>
      <ion-col>
        3.8
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2" size-sm>
        <ion-item href="#">
          <ion-icon name="book"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="9" size-sm>
        BERNAL PEREZ CATALINA
      </ion-col>
      <ion-col>
        2.7
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2" size-sm>
        <ion-item href="#">
          <ion-icon name="book"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="9" size-sm>
        BOTERO MUÑOZ ANDREA
      </ion-col>
      <ion-col>
        4.2
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2" size-sm>
        <ion-item href="#">
          <ion-icon name="book"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="9" size-md>
        PUIN MELO EDMA
      </ion-col>
      <ion-col>
        3.2
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
